
/*
%message defines a general pattern that can be inherited in other 
style definitions using the @extend %message syntax. 
In addition, other style properties can be added.

% - specific to %, allow us to define a template
*/

%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.success {
    @extend %message;
    background-color: green;
}

.warning {
    @extend %message;
    background-color: orange;
}

.error {
    @extend %message;
    background-color: red;
}
